<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="Tissat SA" name="author">	
	<title>{% block titulo %}{% endblock %}</title>	
	<link href="{{STATIC_URL}}images/logo2.png" rel="shortcut icon">	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>	
</head>
{% block contenido %}
    <div class="container" style="margin-top:2em;">
        <div class="jumbotron text-center">
            <center>
                <h1>{% trans 'error500' %}</h1>
                <p class="text-primary">{% trans '500text' %}</p>
                </br></br>
                <div style="width: 40%">                    
                    <a href="/" type="button" class="btn btn-primary btn-lg btn-block">{% trans 'Home' %}</a>
                </div>
                </br>
            </center>
        </div>
    </div>
{% endblock %}

