{% extends 'base.html' %}
{% block titulo %}Thanks{% endblock %}
{% block encabezado %} 
{% endblock %}
{% block contenido %}
    {% load i18n %}
    <div class="container">
        <div class="jumbotron text-center" >
            <center>
                <h1>{% trans 'thanks' %}</h1>
                <p class="text-primary">{% trans 'safehands' %}</p>
                </br></br>
                <div style="width: 40%">
                    <a href="/" type="button" class="btn btn-primary btn-lg btn-block">{% trans 'back' %}</a>
                </div>
                </br>
            </center>
        </div>
    </div>
{% endblock %}
