{% extends 'base.html' %}
{% block titulo %}Contact us{% endblock %}
{% block encabezado %} 
	<h1>Contact us</h1>
{% endblock %}
{% block contenido %}
	<div class="container">
		<form class="form-horizontal" action="/contact/" method="post" role="form">{% csrf_token %}
			<div class="form-group">
				<label for="id_subject" class="col-lg-2 control-label" >Subject</label>
				<div class="col-lg-10">
					<input id="id_subject" type="text" class="form-control" name="subject" maxlength="100" placeholder="Subject" />
				</div>
			</div>
			<div class="form-group">
				<label for="id_message" class="col-lg-2 control-label" >Message</label>
				<div class="col-lg-10">
			    		<textarea type="text" name="message" id="id_message" class="form-control" placeholder="Message" ></textarea>
				</div>
			</div>
			<div class="form-group">
    				<div class="col-lg-offset-2 col-lg-10">
					<input type="submit" value="Submit" class="btn btn-default" />
				</div>
  			</div>
		</form>
	</div>
{% endblock %}
