
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="Juan Jose Linares Flores" name="author">
	<meta content="juanjoolinares@gmail.com" name="contact">
	<link href="{{STATIC_URL}}images/logo2.png" rel="shortcut icon">

	<title>Stack Sync</title>

	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-md-1  col-md-offset-3">
				<img src="{{STATIC_URL}}images/logo.png" alt="stacksync" class="img-rounded">
				<h1> Stacksync</h1>
			</div>
			<div class="col-md-4 col-md-offset-1">
				
					<form id='form' class="form-signin" action='' role="form" method='post'>{% csrf_token %}
						<h1 class="form-signin-heading">Log in</h1>

						<input class="form-control" id="id_username" type="text" autofocus="" required="" placeholder="username" name="username"> 
						<input class="form-control" type="password" required="" placeholder="Password" name="password" id="id_password"> 
	
						<button class="btn btn-lg btn-primary btn-block" type="submit">Go</button>
					</form>
					{% if notvalid %}
						<p>Your username and password didn't match. Please try again.</p>
					{% endif %}
				
			</div>
		</div>
	</div>
	

</body>
</html>
