<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"> 
<title>Select Dir</title> 

<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css"></link>

<script src="{{STATIC_URL}}js/jquery-1.11.0.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

<script type='text/javascript'> 
	function validepopupform(){ window.opener.document.form1.text1.value=document.form2.text2.value; self.close(); } 
</script> 
</head> 
<body> 
	<div class="list-group">
		{% if base %}
			<a href="/move/back" class="list-group-item"><span class="glyphicon glyphicon-arrow-up" ></span></a>
		{% endif %}
		{% for file in files  %}
			{% if file.is_folder %}
				{% if forloop.first and not base %}
					<a href="#" class="list-group-item active"><span class="glyphicon glyphicon-folder-open" ></span> /</a>
				{% endif %}
				{% if forloop.first and base %}
					<a href="#" class="list-group-item active"><span class="glyphicon glyphicon-folder-open" ></span> {{file.name|title}}</a>
				{% else %}
					<a href="/move/{{file.file_id}}" class="list-group-item"><span class="glyphicon glyphicon-folder-close" ></span> {{file.name|title}}</a>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
	<div class="container">
		<button type="button" class="btn btn-default" onClick="window.close()">OK</button>
		<button type="button" class="btn btn-default" onClick="window.close()">Cancel</button>
	</div>
</body> 
</html>  
