<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="Tissat SA" name="author">	
	<title>Proyecto - {% block titulo %}{% endblock %}</title>
	
	<link href="{{STATIC_URL}}images/logo2.png" rel="shortcut icon">	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-tagsinput.css">	
	<link rel="stylesheet" href="{{STATIC_URL}}css/jquery.jgrowl.css">	
	<link rel="stylesheet" href="{{STATIC_URL}}css/web-index.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/languages.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles.css">
	
	<script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap-tagsinput.min.js"></script>	
	<script src="{{STATIC_URL}}js/jquery.contextmenu.js"></script>
	<script src="{{STATIC_URL}}js/jquery.jgrowl.min.js"></script>		
	<script src="{{STATIC_URL}}js/jquery.tablesorter.js"></script>
	<script src="{{STATIC_URL}}js/jquery.tablesorter.widgets.js"></script>	
	<script src="{{STATIC_URL}}js/jquery.ui.widget.js"></script>
	<script src="{{STATIC_URL}}js/jquery.iframe-transport.js"></script>
	<script src="{{STATIC_URL}}js/jquery.fileupload.js"></script>
	<script src="{{STATIC_URL}}js/index.js"></script>	
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="position: relative;">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" ><img src='{{STATIC_URL}}images/logo2.png' alt="some_text" ></a>				
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/">StackSync</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li>
					<p class="navbar-text"><b>{{user}}</b></p>
				</li>
				<li>
					<p class="navbar-text">{{quota_used|filesizeformat}} {% trans "of" %} {{quota_assigned|filesizeformat}} {% trans "used" %}</p>
				</li>
				<li>
					<a href="/contact">{% trans "Contact us" %}</a>

                    <!-- Formulario de contacto modal
                    <a href="#" data-target="#contact-modal" data-toggle="modal">{% trans "Contact us" %}</a>
                    -->
				</li>
				<li>
			        <a href="/log_out">{% trans "logout" %}</a>
				</li>
				
				
                <li>
                    <a href="#" data-toggle="modal" data-target="#configuration">
                    <span class="glyphicon glyphicon-lock" {% if encrypt_option == 1 %}style="color: #428bca"{% endif %}>
                    </span>
                    </a>
                </li>
                
                <li>
                    <a href="#" data-toggle="modal" data-target="#owncloud">
                    <span class="glyphicon glyphicon-lock" {% if encrypt_option == 1 %}style="color: #428bca"{% endif %}>
                    </span>
                    </a>
                </li>

            <!-- Dropdown de Idiomas
                <form id="form_select_lang" action="/i18n/setlang/" method="post">
                    <li class = "dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="lang-sm lang-lbl-full" lang="es"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="form_select_lang" action="/i18n/setlang/" method="post">
                            <li><a><span class="lang-sm lang-lbl-full" lang="en"></span></a></li>
                            <li><a><span class="lang-sm lang-lbl-full" lang="es"></span></a></li>
                        </ul>
                    </li>
                </form>
                -->

                <li>
                    <form id="form_select_lang" action="/i18n/setlang/" method="post">
                    <p>
                    {% csrf_token %}
                        <select name="language" id="select_lang">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ language.name_local }}</option>
                        {% endfor %}
                        </select>
                    </p>
                    </form>                    
                </li>
			</ul>
		</div>
	</div>
</div>


<div class="modal fade" id="configuration" tabindex="-1" role="dialog" aria-labelledby="configurationModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/encriptacion/" method="POST" class="form-horizontal" name="form_encrypt" id="id_form_encrypt">{% csrf_token %}
                <div class="modal-header">
                    <h3 style="text-align:center;"><b>{% trans "ENCRYPTION" %}</b></h3>
                </div>
                <div class="modal-body">
                    <div style="text-align:center;">
                        <i>*{% trans 'indev' %}</i>
                    </div>
                    </br>
                    <div class="form-group alert alert-warning" role="alert" style="text-align:center; margin: 10px">
                        <b>{% trans "care" %}</b>
                        <br/>
                        {% trans "encryptionmenu" %}
                    </div>
                    <div class="form-group">
                    <br/>
                        <label for="id_encrypt_option" class="col-lg-2">{% trans "enable" %}</label>
                        <div class="col-lg-2">
                            <input id="id_encrypt_option" type="checkbox" name="encrypt_option" {% if encrypt_option == 1 %}checked="true"{% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_encrypt_pass" class="col-lg-2">{% trans "password" %}</label>
                        <div class="col-lg-2">
                            <input id="id_encrypt_pass" type="text" name="encrypt_pass" value="{{ encrypt_pass }}" {% if encrypt_option == 0 %}disabled="true"{% endif %}>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="OK" name="boton" id="id_boton" >
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="owncloud" tabindex="-1" role="dialog" aria-labelledby="owncloudModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/owncloud/" method="POST" class="form-horizontal" name="form_owncloud" id="id_form_owncloud">{% csrf_token %}
                <div class="modal-header">
                    <h3 style="text-align:center;"><b>{% trans "Owncloud" %}</b></h3>
                </div>
                <div class="modal-body">
                    <div class="form-group alert alert-warning" role="alert" style="text-align:center; margin: 10px">
                        <b>{% trans "care" %}</b>
                        <br/>
                        {% trans "owncloudmenu" %}
                    </div>
                    <div class="form-group">
                    <br/>
                       
                    </div>
                    <div class="form-group">
                    <label for="id_owncloud_user" class="col-lg-2">{% trans "User" %}</label>
                        <div class="col-lg-2">
                            <input id="id_owncloud_user" type="text" name="owncloud_user" value="{{ owncloud_user }}" >
                        </div>
                        </div>
                        <div class="form-group">
                      <label for="id_owncloud_pass" class="col-lg-2">{% trans "password" %}</label>
                        <div class="col-lg-2">
                            <input id="id_owncloud_pass" type="password" name="owncloud_pass" value="{{ owncloud_pass }}">
                        </div>
                    </div>
                     <div class="form-group">
                      <label for="id_owncloud_dir" class="col-lg-2">{% trans "Dirección" %}</label>
                        <div class="col-lg-2">
                            <input id="id_owncloud_dir" type="text" name="owncloud_dir" value="{{ owncloud_dir }}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="OK" name="boton" id="id_boton" >
                </div>
            </form>
        </div>
    </div>
</div>

<!--modal -->
<div class="container">
	{% block encabezado %}{% endblock %}
</div>

<div class="container">
		{% block contenido %}{% endblock %}
</div>

<div id="footer" class="container">
</div>

<!-- MODAL contacto -->
    <div class="modal fade" id="contact-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
                        <h4 class="modal-title">{% trans "Contact us" %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class = "form-group">
                            <label for ="subject" class = "col-lg-2 control-label">{% trans "Subject" %}</label>
                            <div class = "col-lg-10">
                                <input type = "text" class = "form-control" id = "form-subject" placeholder = "{% trans "Subject" %}">
                            </div>
                        </div>
                        <div class = "form-group">
                            <label for ="message" class = "col-lg-2 control-label">{% trans "Message" %}</label>
                            <div class = "col-lg-10">
                                <textarea class = "form-control" rows = "6" id = "form-message" placeholder = "{% trans "Message" %}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <a class="btn btn-primary send-form" type = "submit" data-id="" id="form-button" role="button" onclick="" data-dismiss="modal">{% trans "Send" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
