{% extends 'base.html' %}
{% block titulo %}Error 404{% endblock %}

{% block contenido %}
    {% load i18n %}
    <div class="container">
        <div class="jumbotron text-center" >
            <center>
                <h1>{% trans 'error404' %}</h1>
                <p class="text-primary">{% trans '404text' %}</p>
                </br></br>
                <div style="width: 40%">
                    <a href="/contact" type="button" class="btn btn-default btn-lg btn-block">{% trans 'Contact us' %}</a>
                    <a href="/" type="button" class="btn btn-primary btn-lg btn-block">{% trans 'Home' %}</a>
                </div>
                </br>
            </center>
        </div>
    </div>
{% endblock %}