<html> 
<head> 
<title>Select directory</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.contextmenu.js"></script>
<script src="{{STATIC_URL}}js/jquery.tablesorter.js"></script>
<script src="{{STATIC_URL}}js/jquery.tablesorter.widgets.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-tagsinput.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.jgrowl.min.js"></script>
<script src="{{STATIC_URL}}js/index.js"></script>

</head> 
<body>
	<div class="list-group">
		{% if base %}
			<a href="./back" class="list-group-item"><span class="glyphicon glyphicon-arrow-up"></span></a>
		{% endif %}
		{% for file in files  %}
			{% if file.is_folder %}
				{% if forloop.first and not base %}
					<a href="#" class="list-group-item active"><span class="glyphicon glyphicon-folder-open" ></span>  /</a>
				{% endif %}
				{% if forloop.first and base %}
					<a href="#" class="list-group-item active"><span class="glyphicon glyphicon-folder-open" ></span> {{file.name|title}}</a>
				{% else %}
					<a href="./{{file.file_id}}" class="list-group-item"><span class="glyphicon glyphicon-folder-close" ></span> {{file.name|title}}</a>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
	<div class="container">
		<button type="button" class="btn btn-default" onClick="move_element()">OK</button>
		<button type="button" class="btn btn-default" onClick="window.close()">Cancel</button>
	</div>

</body> 
</html>  
