<!DOCTYPE html>
{% load i18n %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<link href="{{STATIC_URL}}images/logo2.png" rel="shortcut icon">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-tagsinput.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/jquery.jgrowl.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/web-index.css">
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap-tagsinput.min.js"></script>
    <title>stacksync</title>
</head>
<body>
 <div class="container">
		<div class="row">

        <a href="/log_in/" >
            <div class="col-md-2 col-md-offset-5">
                <img src="{{STATIC_URL}}images/logo.png" alt="stacksync" class="img-rounded">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <h2>{{ name }}</h2>
                <p>{% trans "Restore Password" %}:</p>
            </div>
        </a>
            <div class="col-md-2  col-md-offset-5">
                <form action="" method="post" role="form">{% csrf_token %}
                    <p><input class="form-control" id="pass1" type="password" required placeholder="Password " name="pass1"></p>
                    <p><input class="form-control" type="password" required placeholder="Repeat Password" name="pass2" id="pass2"></p>
                    {% if difieren %}
                        <p>{% trans "difieren" %}</p>
                    {% endif %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "send" %}</button>
                </form>
            </div>
        </div>
 </div>
</body>
</html>